<div class="col-md-12">
    <div class="my-3">
        <input 
            type="number" 
            name="counter" 
            id="counter-custom" 
            placeholder="Enter custom counter"
            [(ngModel)]="customCounter" />
    </div>
    <div class="my-3">
        <button class="btn btn-primary" (click) = "onAdd()" >Add</button>
    </div>

    <div class="my-3">
        <h6> {{ channelName$ |async }} </h6>
        <button class="btn btn-warning" (click)="changeChannelName()" >Change Channel Name</button>
    </div>
</div>