<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login Form</h3>
        <hr>
        <form [formGroup]='loginForm' (ngSubmit)="onLogin()" >
            <div class="form-froup mb-3">
                <label for="email">Enter Email</label>
                <input type="text" class="form-control" formControlName="email" />
            </div>

            <div *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid ">
                <div *ngIf="loginForm.get('email')?.errors?.required">
                    <p class="text-danger">Email is required</p>
                </div>

                <div *ngIf="loginForm.get('email')?.errors?.email" >
                    <p class="text-danger">Please enter a valid email</p>
                </div> 
            </div>

            <div class="form-group mb-3">
                <label for="password">Enter Password</label>
                <input type="password" class="form-control" formControlName="password" />
            </div>

            <div *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid " >
                <div *ngIf="loginForm.get('password')?.errors?.required">
                    <p class="text-danger">Password is required</p>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            
        </form>
    </div>
</div>