 <div class="row">
     <div class="col-md-12">
         <h3>POSTS LIST</h3>
     </div>
     <div>
        <a class="btn btn-primary" routerLink="add" >Add Post</a>
     </div>
     
    <div class="col-md-8">
        <table class="table table-striped" *ngIf="posts | async as postsData">
            <thead>
              <tr>
                <!-- <th>Id</th> -->
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postsData" id="postItems">
                <!-- <td>{{ post.id }}</td> -->
                <td style="word-break: break-all">{{ post.title }}</td>
                <td style="word-break: break-all">{{ post.description }}</td>
                <td> 
                  <a class="btn btn-primary" [routerLink]="['edit', post.id]" >Edit</a>
                  <span> | </span>
                  <button class="btn btn-danger" (click)="onDeletePost(post.id)" >Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>