<div class="row">
    <div class="col-md-12">
        <h3>Edit Post</h3>
        <form action="" [formGroup] = "UpdatePostForm" (ngSubmit)="onUpdatePost()" >
            <div class="form-group">
                <label for="post-title">Edit Title</label>
                <input type="text" class="form-control" formControlName="title" />
                <div *ngIf="UpdatePostForm.get('title')?.touched && !UpdatePostForm.get('title')?.valid">
                    <div class="text-danger" *ngIf = "UpdatePostForm.get('title')?.errors?.required " >
                        This field is required
                    </div>
                    <div class="text-danger" *ngIf = "UpdatePostForm.get('title')?.errors?.minlength " >
                        Title should have minimum 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Edit description</label>
                <textarea class="form-control" formControlName="description" ></textarea>
                <!-- <div class="text-danger" >{{ showDescriptionErrors() }}</div> -->
                <div *ngIf="UpdatePostForm.get('description')?.touched && !UpdatePostForm.get('description')?.valid">
                    <div class="text-danger" *ngIf = "UpdatePostForm.get('description')?.errors?.required " >
                        This field is required
                    </div>
                    <div class="text-danger" *ngIf = "UpdatePostForm.get('description')?.errors?.minlength " >
                        Description should have minimum 10 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary" [disabled]="!UpdatePostForm.valid">Update</button>
            </div>
        </form>
    </div>
</div>