<div class="my-3">
    <button class="btn btn-primary mx-1" (click)="onIncrement()">Increment</button>
    <button class="btn btn-warning mx-1" (click)="onDecrement()">Decrement</button>
    <button class="btn btn-danger mx-1" (click)="onReset()">Reset</button>
</div>