<div class="row">
    <div class="col-md-12">
        <h3>Add New Post</h3>
        <form action="" [formGroup] = "AddPostForm" (ngSubmit)="onAddPost()" >
            <div class="form-group">
                <label for="post-title">Enter Title</label>
                <input type="text" class="form-control" formControlName="title" />
                <div *ngIf="AddPostForm.get('title')?.touched && !AddPostForm.get('title')?.valid">
                    <div class="text-danger" *ngIf = "AddPostForm.get('title')?.errors?.required " >
                        This field is required
                    </div>
                    <div class="text-danger" *ngIf = "AddPostForm.get('title')?.errors?.minlength " >
                        Title should have minimum 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Enter description</label>
                <textarea class="form-control" formControlName="description" ></textarea>
                <!-- <div class="text-danger" >{{ showDescriptionErrors() }}</div> -->
                <div *ngIf="AddPostForm.get('description')?.touched && !AddPostForm.get('description')?.valid">
                    <div class="text-danger" *ngIf = "AddPostForm.get('description')?.errors?.required " >
                        This field is required
                    </div>
                    <div class="text-danger" *ngIf = "AddPostForm.get('description')?.errors?.minlength " >
                        Description should have minimum 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary" [disabled]="!AddPostForm.valid">Submit</button>
            </div>
        </form>
    </div>
</div>